/***
  *积分商品列表
  *页面
  **/


*{
	padding: 0px;
	margin:0px;
}
img{border:none;}
a{
	text-decoration:none;
	list-style:none;
	color: #000;
}
a:hover{
}
li{
	list-style:none;
}
body{
	background: #f7f7f7;
}
.header{
	width: 100%;
	height: 60px;
	background: #1e89e0;
	//background: rgba(167,245,229,1);
	line-height: 60px;
	position: relative;
}
.header_line{
	width: 1000px;
	height: 60px;
	position: relative;
	margin: 0px auto;
}
.logo{
	width: 105px;
	height: 60px;
	background-image: url(../images/logo.png);
	background-size: cover;
	background-position: center;
}
.header_line ul{
	width: auto;
	height: 60px;
	position:absolute;
	left: 105px;
	top: 0px;
}
.header_line ul li{
	float: left;
}
.header_line ul li a{
	width: 134px;
	display: block;
	line-height: 60px;
	font-size: 1pc;
	color: #fff;
	text-align: center;
}
.header_line ul li a:hover{
	background: #6495ed;
}
.header_line ul li a:focus{
	background: #6495ed;
}
#user{
	width: 100px;
	height: 60px;
	position: absolute;
	top:0px;
	right:100px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	font-size: 18px;
}
#user span{
	display: block;
	width: 100px;
	height: 60px;
	position: absolute;
	top:0px;
	right:100px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}
#user ul{
	display: none;
	position: absolute;
	width: 100px;
	height: 99px;
	top:50px;
	left: -100px;
	background:rgba(255, 255, 255, 0.98);
	box-shadow:rgba(0, 0, 0, 0.5) 0px 1px 2px 0px;
	z-index: 99;
}
#user ul li a{
	display: block;
	width: 100px;
	height: 24px;
	margin-bottom: 1px;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	background: #f7f7f7;
	color:rgb(153, 153, 153);
}
#user ul li a:hover{
	background: #1e89e0;
}
.user_pic{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 60px;
	position: absolute;
	top:15px;
	left: 0px;
	background-position: top;
	background: url(../images/user.png) no-repeat;
	background-size: contain;
}
.login{
	width: 33px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	position: absolute;
	top: 0px;
	left:26px;
}
.register{
	width: 33px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	position: absolute;
	top: 0px;
	right:0px;
}
.user span{
	width: 8px;
	height: 60px;
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 58px;
	line-height: 60px;
	text-align: center;
	color: #fff;
}



.banner{
	width: 1180px;
	height: 54px;
	margin: 0px auto;
	position: relative;
}
.banner span{
	position: absolute;
	left:275px;
	line-height: 54px;
	font-size: 14px;
	font-weight: normal;
	color:rgb(51, 51, 51);
}
.position{
	width: 273px;
	height: 20px;
	position: absolute;
	top: 17px;
	left: 0px;
}
.position_now{
	width: 68px;
	height: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 13px;
	color: #333333;
}
.current{
	width: 145px;
	height: 20px;
	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 68px;
	font-size: 13px;
	color: #000;
}
.change_btn a{
	display: block;
	width: 56px;
	height: 20px;
	line-height:20px;
	text-align: center;
	font-size: 12px;
	color: #0089dc;
	position: absolute;
	right: 0px;
	height: 0px;
}

#search{
	width: 284px;
	height: 32px;
	position: absolute;
	right: 0px;
	top: 10px;
	border:1px solid #ccc;
	background: #fff;
}
#search input{
	width: 87%;
	height: 32px;
	position: absolute;
	top: 0px;
	left: 3%;
	border:0px solid #ccc;
}
#search_good{
	width: 10%;
	height: 32px;
	line-height: 54px;
	position: absolute;
	right: 0px;
	top: 0px;
	background: url(../images/search2.png) no-repeat;
	background-position: center;
}
#search_good:active{
	background: url(../images/search_h.png) no-repeat;
	background-position: center;
}

.content{
	width: 1180px;
	height: 94px;
	margin: 10px auto;
	border:1px solid rgb(230, 230, 230);
	border-top-color: rgb(230, 230, 230);
	border-top-style: solid;
	border-top-width: 3px;
	background-color: #ffffff;
}

.content p{
	width: 1138px;
	height: 25px;
	margin: 0px auto;
	margin-top:22px;
	line-height: 25px;
}




.select{
	width: 1180px;
	height: 52px;
	margin: 10px auto;
	border-bottom: 2px solid rgb(221, 221, 221);
	font-size: 16px;
	font-weight: normal;
	position: relative;
	font-synthesis: weight style;

}
#jfhl{
	width: 110px;
	height: 52px;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	line-height: 52px;
	text-align: center;
}
#dhjl{
	width: 110px;
	height: 52px;
	position: absolute;
	top: 0px;
	left: 110px;
	display: block;
	cursor: pointer;
	line-height: 52px;
	text-align: center;
}
.active{
	color: rgb(0, 137, 220);
	border-bottom: 3px solid rgb(0, 137, 220);
}

.sort_content{
	width: 1180px;
	height: 32px;
	margin: 10px auto;
	position: relative;
}
.sort_content p{
	width: 160px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 460px;
}
.sort_box{
	position: absolute;
	top: 0px;
	width: 250px;
	height: 32px;
	left: 10px;
	color:rgb(51, 51, 51);
}
.sort_box span{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 41px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 14px;
}
.sort{
	width: 204px;
	height: 32px;
	position: absolute;
	top: 0px;
	left: 45px;
	//background-color: red;

}
.sort_right{
	left: 102px;
	position: absolute;
}
.sort_active{
	width: 102px;
	height: 32px;
	display: block;
	line-height: 32px;
	text-align: center;
	position: absolute;
	left: 0px;
	background-color: rgb(0, 137, 220);
	color: rgb(255, 255, 255);
}
.sort_no_active{
	width: 102px;
	height: 32px;
	display: block;
	position: absolute;
	line-height: 32px;
	text-align: center;
	border:1px solid rgb(221, 221, 221);
}

.select_avg{
	width: 200px;
	height: 32px;
	position: absolute;
	top: 0px;
	line-height: 32px;
	left: 260px;
	padding-left:40px; 

}


.goods_box{
	width: 1180px;
	height: auto;
	min-height: 142px;
	border:  1px solid #e6e6e6;
	margin: 10px auto;
	position: relative;
	background-color: #fff;
}
.goods_item{
	width: 293px;
	height: 216px;
	border:  1px solid #e6e6e6;
	float: left;
	position: relative;
}
.goods_item:hover{
	//background-color: #e6e6e6;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
	cursor: pointer;
}
.goods_item_img{
	width: 265px;
	height: 110px;
	position: absolute;
	left: 14px;
	top: 10px;
}
.goods_title{
	width: 265px;
	height: 40px;
	font-size: 17px;
	//line-height: 20px;
	position: absolute;
	left: 14px;
	top: 115px;
	//overflow: hidden;
}
.goods_content{
	width: 265px;
	height: 20px;
	font-size: 14px;
	position: absolute;
	line-height: 20px;
	left: 14px;
	top: 160px;
	overflow: hidden;
}
.goods_msg{
	width: 265px;
	height: 30px;
	position: absolute;
	left: 14px;
	top: 180px;
	//background-color: red;
}
.goods_avg{
	width: 80px;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	color: red;
	float: left;
}
.goods_zhifu{
	width: auto;
	height: 18px;
	margin-top: 6px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 18px;
	color: red;
	float: right;
	background-color: rgb(0, 137, 220);
	color: rgb(255, 255, 255);
}


/*缁灏句俊妯″*/
.footer_box{
	width: 100%;
	height: 100px;
	background: #e6e6e6;
}
#footer{
	width: 1180px;
	height: 100px;
	margin: 0px auto;
	position: relative;
}
#footer_nav{
	width: 400px;
	height: 30px;
	top:35px;
	left: 290px;
	position: absolute;
}
#footer_nav ul{
	width: 400px;
	height: 30px;
	position: absolute;
	top:0px;
	left: 0px;
}
#footer_nav li{
	width: 100px;
	height:30px;
	line-height: 30px;
	text-align: center;
	float: left;
}
#footer_nav li a{
	color: #000;
	height:30px;
	line-height: 30px;
	text-align: center;
}
#footer_nav li a:hover{
	color: #000;
	text-decoration-line: underline;
}
.message{
	width: 160px;
	height: 100px;
	background: url(../images/message.png);
	background-position: center;
	position: absolute;
	top: 0px;
	left: 750px;
}
.qrcode{
	position: absolute;
	top: 0px;
	right:0px;
	width: 120px;
	height: 120px;
}
